*{
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),url(./images/trawl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}
.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #fff;
    position: relative;
    margin-bottom: 50px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    position: relative;
    z-index: 1000;
}
.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.site-nav {
}
.sitenav-list {
    display: flex;
    align-items: center;
}
.sitenav-item:not(:last-child) {
    margin-right: 10px;
}
.sitenav-link {
    color: #fff;
}
.sitenav-link:hover {
    font-weight: bold;
    color: #000;
}

.toggle-nav {
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 17px;
    display: none;
    z-index: 60;
    color: #fff;
}
.toggle-nav:active {
    color: #000;
}
.fas {
}
.fa-bars {
}
.hidden-nav {
    display: block !important;
    position: fixed;
    background-color: rgba(255, 244, 244, 0.228);
    max-width: 300px;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 70;
}
.hidden-nav.show-nav{
    transform: translateX(0);
}
.hidden-nav .sitenav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 25px;
    font-size: 1.3rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}
/* main-sectioncss */
.site-main {
    display: block;
    margin-bottom: 50px;
}
.site-main-container {
    flex-direction: column;
}
.site-main-list {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.site-main-list-items-img {
    width: 850px;
    height: 600px;
}
.site-main-list-items-img-p {
    background-color: #fff;
    background-repeat: no-repeat;
    margin-right: 110px;
    margin-left: 110px;
}
.site-main-list-items-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.56px;
    margin: 0;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.site-main-button {
    text-align: center;
    align-items: center;
}
.site-main-btn {
    background-color: #000;
    border-radius: 15px;
}
.site-mai-btn-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.56px;
    color: #fff;
    padding: 15px 15px ;
}
/* modal section */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.hidden {
    display: none;
}

.btn {
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.show-btn {
    background-color: #474b4f;
    padding: 15px 15px;
    border-radius: 8px;
    transition: background 0.5s;
}

.show-btn:hover {
    background-color: #000;
}
.show-btn:active {
    background-color: #fff;
    color: #000;
}

/* MODAL */

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    z-index: 100;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.close-btn {
    color: #222;
    font-size: 20px;
}

.modal-title {
    margin-bottom: 15px;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


@media (max-width: 440px) {
    .site-nav {
        display: none ;
    }

    .toggle-nav {
        display: block;
    }


    .site-main-list-items-img {
        width: 250px;
        height: 100px;
    }

    .site-main-list-items-text {
        display: none;
    }
}

